<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truy vấn hình ảnh tương đồng trong dữ liệu lớn</title>

    <!-- Liên kết đến tệp CSS với tên là style.css -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <img id="banner" src="/static/images/banner.jpg" alt="banner" width="100%" height="550" >

    <h1>Giới thiệu sơ lược về mô hình (đang cập nhật)</h1>
    <p>Cách thức upload ảnh lên và truy vấn ảnh (đang cập nhật)</p>

    <p>Đây sẽ là cái form nghiên cứu load ảnh lên và sử dụng mô hình đã train (đang cập nhật)</p>


    <p>Cảm ơn mọi người đã quan tâm và theo dõi website truy vấn hình ảnh tương đồng của tôi, nếu có ý kiến đóng góp
        xin vui lòng liên hệ: (Project Manager gmail sdt của trưởng nhóm)
    </p>
    <p>Đây là website demo sản phẩm truy vấn hình ảnh tương đồng trong dữ liệu lớn</p>
    <p>Nhóm gồm các thành viên: </p>
    <ul>
        <li>Lê Tuấn Kiệt</li>
        <li>Tiến Thích Ăn Tô</li>
        <li>Nguyễn Hạ Nguyên Hảo</li>
    </ul>
</body>
</html>